.gantt {
    overflow-x: scroll;
    max-width: 100%;
}

.times {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.time {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.lines {
    margin-bottom: 10px;
}