.table-container {
    /*background-color: cyan;*/
    border:1px solid green;
    overflow: scroll;
}

table tbody tr td {
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: cyan;
}

table tbody tr:nth-child(even) {
    background-color: yellowgreen;
}