:root{
    --mainBg:hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --greenState:#A7D490;

}

.main {
    padding: 1% 5%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr .2fr;
    column-gap: 1%;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

.process-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1%;
}
